@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,300&display=swap');

@font-face {
  font-family: "Norse Bold";
  src: url(../fonts/Norse-Bold.otf);
}

:root {
  --green-color: #596D48;
  --grey-color: #E5E7EB;
  --focus-color: #154b9c;
  box-sizing: border-box;
}

body {
  font-family: "Roboto",Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.3;
  min-height: 100vh;
  display: flex;
}

em {
  font-style: italic;
}

main {
  flex: 1;
  display: flex;
}

.section-sidebar {
  background-image: url("../assets/image-sidebar.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
}

.section-content {
  flex: 4;
}

.logo-container {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-family: "Norse Bold";
  font-size: 4rem;
  padding: 20px 0;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -7rem;
}

img {
  width: 1em;
}

.image-credit,
.image-credit > a {
  color: white;
  font-size: 0.8rem;
}

.image-credit {
  padding: 1rem;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--grey-color);
  justify-content: center;
}

.presentation-text {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 4rem 3rem;
  gap: 2rem;
  font-weight: bold;
}

.section-user-input {
  flex: 1;
  background-color: white;
  padding: 1rem 3rem;
  margin-bottom: 20px;
  box-shadow: 0px 5px 5px #b9b8b8;
}

.section-submit {
  flex: 2;
}
