@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,300&display=swap');

@font-face {
  font-family: "Norse Bold";
  src: url(../fonts/Norse-Bold.otf);
}

:root {
  --green-color: #596D48;
  --grey-color: #E5E7EB;
  --focus-color: #154b9c;
  box-sizing: border-box;
}

body {
  font-family: "Roboto",Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.3;
  min-height: 100vh;
  display: flex;
}

em {
  font-style: italic;
}

main {
  flex: 1;
  display: flex;
}

.section-sidebar {
  background-image: url("../assets/image-sidebar.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
}

.section-content {
  flex: 5;
}

.logo-container {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-family: "Norse Bold";
  font-size: 5rem;
  padding: 20px 0;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -14rem;
}

img {
  width: 1.5em;
  margin: 0px .5rem;
}

.image-credit,
.image-credit > a {
  color: white;
  font-size: 0.8rem;
}

.image-credit {
  padding: 1rem;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--grey-color);
  justify-content: center;
}

.presentation-text {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 4rem;
  padding-left: 3rem;
  padding-right: 12rem;
  margin-top: 10rem;
  gap: 2rem;
  font-weight: bold;
}

.section-user-input {
  flex: 1;
  background-color: white;
  color: #313131;
  font-weight: bold;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 8rem;
  box-shadow: 0px 5px 5px #b9b8b8;
}

.input-container {
  letter-spacing: .1rem;
  margin: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
}

.user-input {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 2rem; 
  margin-right: 2.5rem;
}

input {
  border: 1px solid var(--grey-color);
  border-radius: 2px;
  padding: .45rem .6rem;
  max-width: 80%;
}

input:focus {
  outline: none;
  border-color: var(--focus-color);
  box-shadow: 0px 2px 5px grey;
}

input:invalid {
  border-color: red;
}

.section-submit {
  flex: 2;
  padding-left: 3rem;
  padding-top: 3rem;
  margin-bottom: 15rem;
}

button {
  background-color: var(--green-color);
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 1rem 3rem;
  margin-bottom: 3rem;
  box-shadow: 0px 2px 5px grey;
}

.section-submit a {
  text-decoration: none;
  color: var(--green-color);
  font-weight: bold;
}